@font-face {
    font-family: 'Avenir';
    src: local('Avenir Black'), local('Avenir-Black'),
        url('Avenir-Black.woff2') format('woff2'),
        url('Avenir-Black.woff') format('woff'),
        url('Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Lato", sans-serif;
    margin: 0;
    font-size: 20px;
  }

  .container {
    max-width: 1230px;
    margin: auto;
    padding: 0 15px;
  }

  a {
    color: #292929;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  button {
    padding: 15px 40px;
    background-color: #01996d;
    font-size: 22px;
    color: #fff;
    border: 1px solid #01996d;
    border-radius: 5px;
  }

  /*------------
    HEADER
  --------------*/

  .header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #d6d6d6;
}

.header .container {
    display: flex;
    align-items: center;
}

.header__logo {
    display: inline-block;
    
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 150px;
}

.header__button-wrapper {
    margin-left: 110px;
}

.header button {
    font-size: 18px;
    cursor: pointer;
}

.header__button {
    margin-right: 25px;
    color: #000;
    background-color: transparent;
    border: 0;
}

.header__button-second {
    background-color: #01996d;
    padding: 10px 40px;
    color: #fff;
    border: 1px solid #01996d;
    border-radius: 5px;
}

.burger-menu {
  display: none;
}

  /*------------
    WELCOME
  --------------*/

.welcome {
    
    background-image: url("./IMG/welcome.jpg");
    background-size: cover;
    background-position: center;
    min-height: 88vh;
}

.welcome .container {
    padding-top: 90px;
}

.welcome__text-wrapper {
    max-width: 430px;
}

.title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 50px;
    color: #01996d;
}

.welcome__title {
    max-width: 400px;
}

.welcome__text {
    margin-bottom: 50px;
    line-height: 157%;
    color: #484848;
}

.welcome__button {
    padding: 15px 40px;
    background-color: #01996d;
    font-size: 20px;
    color: #fff;
    border: 1px solid #01996d;
    border-radius: 5px;
}

  /*------------
    WORKS
  --------------*/

.works {
    padding: 95px 0 40px;
    color: #424242;
}

.works__subtitle {
  font-weight: 600;
}

.works__text {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.works__title {
  margin: 0;
  max-width: 500px;
  width: 100%;
  line-height: 157%;
}

.works__desc {
  margin: 0;
  max-width: 600px;
  width: 100%;
  line-height: 150%;

}

.works__list {
  counter-reset: works;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.works__list-item {
  position: relative;
  counter-increment: works;
  max-width: 350px;
}

.works__list-item:nth-child(2) {
  margin-top: 220px;
}

.works__list-item::before {
  content: counter(works, decimal-leading-zero);
  position: absolute;
  top: -115px;
  font-family: "Georgia", sans-serif;
  font-size: 150px;
  color: rgba(1, 153, 109, 0.2);
}

.works__list-item:first-child::after {
  content: "";
  background-image: url(./IMG/works1-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 458px;
  right: 0;
  z-index: 5;
  width: 165px;
  height: 124px;
}

.works__list-title {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 25px;
  color: #000;
}

.works__list-desc {
  margin-bottom: 40px;
  line-height: 150%;
}

.works__list-image {
  position: relative;
  width: 350px;
  height: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

  /*------------
    STORY
  --------------*/

.story {
  background-color: #245852;
}

.story .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.story__title {
  font-family: "Georgia", sans-serif;
  color: #fff;
  line-height: 157%;
}

.story__desc {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  line-height: 157%;
}

.story__image {
  background-color: rgba(0, 0, 0, 0.2);
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
}

  /*------------
    PRODUCT
  --------------*/

  .product {
    margin: 100px 0;
}

.product .container {
  display: flex;
  gap: 100px;
  position: relative;
}

.product__img-wrapper {
  display: contents;
}

.product__img-wrapper::after {
  content: "";
  position: absolute;
  bottom: -75px;
  left: 10px;
  background-image: url("./IMG/product2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 297px;
  height: 294px;
}

.product__img-inner-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 600px;
  width: 100%;
  height: 450px;
}

.product__img-inner-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #01996D;
  z-index: -5;
  border-radius: 18px;
  opacity: 0.2;
}

.product__images {
  width: 310px;
  height: 400px;
  object-fit: cover;
}

.product__text {
  max-width: 520px;
}

.product__subtitle {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 10px;
}

.product__title {
  margin: 0;
}

.product__desc {
  margin-bottom: 30px;
  line-height: 157%;
  color: #484848;
}

  /*------------
    FOOTER
  --------------*/

  .footer {
    background-color: #245852;
    padding: 50px 0;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.fooer__link {
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}

.fooer__link:nth-child(1) {
  font-weight: 900;
  font-size: 30px;
}

  /*------------
    MEDIA
  --------------*/

@media(max-width: 1210px) {

  .title {
    font-size: 45px;
  }

  .header .container {
    justify-content: center;
  }

  .header__logo img {
    max-width: 80px;
  }

    .header__nav {
    margin: 0 60px;
  }

  .header__nav-link {
    font-size: 17px;
  }

  .header__button-wrapper {
    margin-left: 0;
  }

  .header button {
    font-size: 16px;
  }

  .story .container {
    flex-direction: column;
    text-align: center;
  }

  .story__desc {
    margin-bottom: 25px;
  }

  .story__button {
    margin-bottom: 20px;
  }

  .story__image {
    margin-bottom: 30px;
  }

  .product {
    margin: 50px 0;
  }

  .product .container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .product__img-inner-wrapper {
    height: 430px;
  }

  .product__img-wrapper::after {
    display: none;
  }

  .product__text {
    text-align: center;
  }
}

@media(max-width: 1000px) {

  .header .container {
    align-items: normal;
    gap: 30px;
  }

  .header .container {
    flex-direction: column;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .burger-menu {
    display: block;
    background-color: transparent;
    padding: 0;
    border: 0;
}

.burger-menu__icon {
  max-width: 37px;
}

  .header__nav {
    display: none;
  }

  .header__nav--open {
    display: flex;
    flex-direction: column;
  }

  .header__button-wrapper {
    display: grid;
  }

  .header__button {
    margin-right: 0;
  }

  .works__list {
    justify-content: center;
  }
}

@media(max-width: 870px) {
  .works {
    padding: 50px 0;
  }

  .works__subtitle {
    display: block;
    text-align: center;
  }

  .works__text {
    margin-bottom: 120px;
    flex-direction: column;
    gap: 25px;
  }

  .works__list-item:nth-child(2) {
    margin-top: 0;
  }

  .works__list-item:nth-child(3) {
    margin-top: 80px;
  }
}

@media(max-width: 800px) {
  .welcome {
    background-image: none;
    background-color: #245852;
    min-height: auto;
  }

  .welcome .container {
    padding: 80px 0 100px;
  }

  .welcome__text-wrapper {
    max-width: 100%;
    text-align: center;
  }

  .welcome__title {
    max-width: 100%;
    color: #fff;
  }

  .welcome__text {
    color: #fff;
  }
}

@media(max-width: 770px) {

  .title {
    font-size: 40px;
  }

  .story__image {
    height: 350px;
  }
  .works__list-item:nth-child(2) {
    margin-top: 70px;
  }

  .footer__navigation {
    align-items: center;
  }
}

@media(max-width: 400px) {
  .works__list-item:first-child::after {
    display: none;
  }
}